App_WebReferences/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51116/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BD" />
  <xs:import schemaLocation="http://localhost:51116/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:51116/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Actualizar_Curso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_curso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cedula" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="turno" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_CursoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Equipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="config" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="software" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sistOper" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="servidores" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_lab" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_EquipoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Laboratorio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="cantCompu" type="xs:int" />
        <xs:element minOccurs="0" name="piso" type="xs:int" />
        <xs:element minOccurs="0" name="aire" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="videoBeam" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="disponible" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_LaboratorioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Usuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cedula" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellido1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellido2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ocupacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contraseña" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_UsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Buscar_Curso_Cedula_Profesor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cedula" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Buscar_Curso_Cedula_ProfesorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BD" minOccurs="0" name="Buscar_Curso_Cedula_ProfesorResult" nillable="true" type="q1:ArrayOfCurso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Buscar_Curso_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Buscar_Curso_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BD" minOccurs="0" name="Buscar_Curso_IDResult" nillable="true" type="q2:Curso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Buscar_Equipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Buscar_EquipoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BD" minOccurs="0" name="Buscar_EquipoResult" nillable="true" type="q3:Equipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Buscar_Laboratorio_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Buscar_Laboratorio_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BD" minOccurs="0" name="Buscar_Laboratorio_IDResult" nillable="true" type="q4:Laboratorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_Curso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_curso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_CursoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_Equipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_EquipoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_Laboratorio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_LaboratorioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar_Curso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_curso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cedula" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="turno" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar_CursoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar_Equipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_equipo" type="xs:int" />
        <xs:element minOccurs="0" name="config" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="software" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sistOper" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="servidore" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_lab" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar_EquipoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar_Laboratorio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_lab" type="xs:int" />
        <xs:element minOccurs="0" name="cantCompu" type="xs:int" />
        <xs:element minOccurs="0" name="piso" type="xs:int" />
        <xs:element minOccurs="0" name="aire" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="videoBeam" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="disponible" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar_LaboratorioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar_Solicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_lab" type="xs:int" />
        <xs:element minOccurs="0" name="id_curso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="hora_ini" type="q5:duration" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="hora_fin" type="q6:duration" />
        <xs:element minOccurs="0" name="activo" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar_SolicitudResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar_Usuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cedula" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellido1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellido2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ocupacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_rol" type="xs:int" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contraseña" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar_UsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Traer_ID_Labs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Traer_ID_LabsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Traer_ID_LabsResult" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Validar_Cedula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Validar_CedulaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Validar_CedulaResult" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Validar_Labs_Solicitado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Validar_Labs_SolicitadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Validar_Labs_SolicitadoResult" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Validar_Nick">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Validar_NickResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Validar_NickResult" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reporte_Solicitud_Laboratorio_General">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Reporte_Solicitud_Laboratorio_GeneralResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BD" minOccurs="0" name="Reporte_Solicitud_Laboratorio_GeneralResult" nillable="true" type="q8:ArrayOfReportes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reporte_Solicitud_Cedula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cedula" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reporte_Solicitud_CedulaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BD" minOccurs="0" name="Reporte_Solicitud_CedulaResult" nillable="true" type="q9:ArrayOfReportes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reporte_solicitud_Fecha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reporte_solicitud_FechaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BD" minOccurs="0" name="Reporte_solicitud_FechaResult" nillable="true" type="q10:ArrayOfReportes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reporte_Solicitud_ID_Lab">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_lab" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reporte_Solicitud_ID_LabResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BD" minOccurs="0" name="Reporte_Solicitud_ID_LabResult" nillable="true" type="q11:ArrayOfReportes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>